body {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
      height: 100vh;
      font-size: 16px;
      background-color: hsl(235, 18%, 26%);
      color:  hsl(235, 18%, 26%);
}

.news-parent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
}

.newsletter-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
}

.newsletter-card {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 1rem;     
      border-radius: 15px;
      background-color:  hsl(0, 0%, 100%);
}

.card-left {
      display: flex;
      flex-direction: column;
      margin: 0px 2rem;
}


.update-checklist {
      margin-top: 10px;
}

.check-1 {
      padding: 0;
      margin-bottom: 10px;
      
}

.check-1 img {
      position: relative;
      top: 4px;
      padding-right: 0.75rem;
}

.card-right {
      display: flex;
      flex-direction: column;
}

h1 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 58px;  
}
  
h2 {
      font-size: 16px;
}

h3 {
      font-size: 45px;
      margin: 0;

}

.email-sub {
      align-items: center;
      padding-top: 1rem;
}

.email-box {  
      display: flex;
      border: 0.5px solid  hsl(231, 7%, 60%);
      border-radius: 4px;
      margin-top: 5px;
      color: hsl(231, 7%, 60%);
}

.email-box  p {
      padding-left: 1rem;
}
  
.btn {
      text-align: center;
      width: 100%;
      margin-top: 1rem;
      padding: 1rem;
      border-radius: 4px;
      color: hsl(0, 0%, 100%);
      background-color:  hsl(235, 18%, 26%);
}

/* thanks for subscribing card */

.subscribing-container {
      display: none;

      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
}

.subscribing-message-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
}


.subscribing-card {     
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25rem;
      padding: 2rem;     
      border-radius: 15px;
      background-color:  hsl(0, 0%, 100%);
}

.check-header {
      padding-bottom: 1rem;
}

.mail {
      font-weight: bold;
}

.btn-orange {
      text-align: center;
      margin-top: 1rem;
      padding: 1rem;
      border-radius: 4px;
      color: hsl(0, 0%, 100%);
      background-color:  hsl(235, 18%, 26%);
}

/* common atribution with all projects */
.attribution {
      font-size: 11px;
      text-align: center;
}
.attribution a {
      color: hsl(228, 45%, 44%);
}