.attribution {
      font-size: 11px;
      text-align: center;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      height: 100vh;
      background-color: hsl(0, 0%, 8%);
    }

    .img {
      border-radius: 50%;
      max-width: 80px;
    }

    h1 {
      color: hsl(0, 0%, 100%);
    }

    .location {
      color: hsl(75, 94%, 57%);
    }

    .desc {
      color: hsl(0, 0%, 100%);
      font-weight: 600;
    }

    .social-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      margin: 0;
      padding: 15px;
      border-radius: 8px;
      background-color: hsl(0, 0%, 12%);
    }

    .social-links {
      display: flex;
      flex-direction: column;
    }

    .link {
      background-color: hsl(0, 0%, 20%);
      margin: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      min-width: 300px;
      border-radius: 2px;
    }

    .link p {
      text-align: center;
    }

    .link:hover {
      background-color: hsl(75, 94%, 57%);
    }