* {
      margin: 0;
      padding: 0;
      box-sizing: border-boxß;
}

body {
      font-size: 16px;
}

h2 {
      font-size: 35px;
      margin-bottom: 1rem;
}

h4 {
      text-align: center;
      font-size: 35px;
      margin-bottom: 4rem;
}

h5 {
      color: white;
      font-size: 30px;
}

header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
      margin-left: 4rem;
      margin-right: 4rem;
}

.nav-list ul {
      display: flex;
}

.nav-list ul li {
      list-style: none;
      padding-left: 1rem;
}

.started {
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 12px;
      color: white;
      background-color: hsl(12, 88%, 59%);
}

.flipped {
      padding: 0.5rem 1rem;
      border-radius: 12px;
      color: hsl(12, 88%, 59%);
      background-color: white;
}

h1 {
      font-size: 35px;
      margin-bottom: 1rem
}

.products-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin-left: 4rem;
      margin-right: 4rem;
      margin-top: 2rem;
      margin-bottom: 4rem;
}

.product-item>p {
      width: 300px;
}

.grid-item {
      margin: 4rem;
      margin: 1rem;
}

.grid-item p {
      width: 280px;
      margin-bottom: 1rem;
}

.manage-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 4rem;
}

.margin {
      margin-left: 4rem;
      margin-right: 4rem;
}

.product-item {
      padding-left: 1rem;
}

.quote-item {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
}

.align-title {
      display: flex;
      flex-direction: column;
}

.number {
      background-color: orange;
      margin-right: 1rem;
      padding: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 30%;
}

.main-slider {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 4rem;
}

.btn {
      padding: 0.5rem;
}

.user-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.user-cont>span {
      margin-bottom: 1rem;
}

.quote {
      text-align: center;
}

.align {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 4rem;
}

.simple {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 6rem;
      background-color: hsl(12, 88%, 59%);
}

.social-links {
      margin-top: 2rem;
}

.social-links img {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
}

.s-list ul li {
      list-style: none;
      margin-bottom: 0.5rem;
}

input {
      padding: 0.5rem;
      border-radius: 12px;
}

.copy-text {
      margin-top: 2rem;
}

footer {
      display: flex;
      justify-content: space-between;
      height: 15vh;
      background-color: hsl(233, 12%, 13%);
      color: white;
      padding-left: 6rem;
      padding-right: 6rem;
      padding-top: 2rem;
      padding-bottom: 1rem;
}

@media screen and (max-width: 375px) {}