
body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: hsl(216, 12%, 8%); 
      font-family: sans-serif;
}

main {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
}

.upper-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 20px;
      min-width: 25rem;
      max-width: 25rem;
      padding: 1rem;
      background-color:hsl(213, 19%, 18%);
}

.rating {
      display: flex;
      flex-direction: column;
      color: white;
      background-color: hsl(216, 12%, 8%); 
}

.thank-you-conntainer {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 1rem;
      border-radius: 10px;
}

.header-img {
      justify-content: left;
      padding: 0.5rem;
}

h1 {
      color: white;
      font-size: 30px;
      margin: 2rem 0 0.5rem;
}


h2 {
      text-align: center;
      color: white;
      font-size: 30px;
      margin: 2rem 0 0.5rem;
}

.feedback {
      color: hsl(217, 12%, 63%);
      
}

.rate-number {
      display: flex;
      justify-content: space-between;    
      
}

.rate-number p {
      color:  hsl(213, 19%, 18%);
      background: hsl(216, 12%, 54%);
      padding: 1rem;
      border-radius: 50%;
      height: 10px;
      width: 10px;
}
      
.rate-number p span {
      position: relative;
      top: -5px;
}

.submit-btn {
      color: white;
      padding: 0.5rem;
      margin: 1rem 0 0 0;
      border-radius: 14px;
      background-color:  hsl(25, 97%, 53%);
      border: none;
}

.lower-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      min-width: 25rem;
      max-width: 25rem;
      border-radius: 10px;
      background-color: hsl(213, 19%, 18%);
      display: none;
}

.select {
      margin: 2rem 0 0 0;
}

.select p {
      color: hsl(25, 97%, 53%);
}

.selected-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.selected {
      text-align: center;
      padding: 0.5rem 0;
      border-radius: 20px;
      width: 50%;
      background-color: rgb(33, 27, 27);
}

.selected p {
    margin: 0;
    padding: 0;
}

.thanks{ 
      text-align: center;
}

.thanks p {
      font-size: 15px;
      color:  hsl(217, 12%, 63%);
}

/* text color */












.attribution {
      font-size: 11px;
      text-align: center;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }