body {
      font-family: "Outfit", sans-serif;
      font-size:  15px;
      background-color: hsl(212, 45%, 89%);
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
}

.qr-container {
      display: flex;
      justify-content: center;
}

.qr-code-card {
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: 15px;
      width: 325px;
      padding: 1.25rem;
      background-color:  hsl(0, 0%, 100%);
}

.code-image {
      border-radius: 10px;
}

h1 {  
      font-size: 25px;
      font-weight: 700;
      color: hsl(218, 44%, 22%);
}

.code-desc {
      font-weight: 400;
     color:  hsl(220, 15%, 55%);
}

.attribution {
      font-size: 11px;
      text-align: center;
}
 .attribution a {
      color: hsl(228, 45%, 44%);
}