* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      display: grid;
      align-items: center;
      grid-template-rows: 1fr 1fr;
      font-size: 15px;
      margin: 4rem;
      font-family: "League Spartan", sans-serif;
}

.head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 2rem;
}

h1 {
      color: hsl(300, 43%, 22%);
      width: 400px;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;
}

.first-text {
      width: 600px;
}

.first-text > p {
      width: 450px;
      line-height: 1.2rem;
      font-size: 16px;
      font-weight: 500;
      color: hsl(303, 10%, 53%);
}


.rating-group {
      width: 500px;
      align-items: center;
}

.ratings {
      display: grid;
      grid-template-columns: 0.5fr 0.8fr;
      padding: 1rem;
      margin: 1rem;
      background-color:  hsl(300, 24%, 96%);
      border-radius: 5px;
      position: relative;
      align-items: center;
}

.left-1 {
      left: -4rem;
}

.left-2 {
      left: -2rem;
}

.left-3 {
      left: 0;
}

.rate {
      font-weight: 400;
      color:  hsl(300, 43%, 22%);
}
.stars {
      margin-right: 1rem;
      
}

.stars > img {
      margin: 0 0.5rem 0 0;
}

.comment-section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      margin: 2rem;
}

.comment-box {
      position: relative;
      padding: 1.5rem;
      border-radius: 8px;
      background-color: hsl(300, 43%, 22%);
      color: white;
      height: 18rem;
}

.pos-1 {
      top: -3rem;
}

.pos-2 {
      top:  -2rem;
}

.pos-3 {
      top: -1rem;
}

.profile {
      display: flex;
      align-items: center;
      margin: 1rem 0 1.5rem 0;

}

.pic {
      max-width: 3rem;
      max-height: 3rem;
      border-radius: 50%;
}

.user {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
}

.buyer {
      margin-top: 0.5rem;
      color: rgb(209, 64, 209);
}

.comment {
      font-size: 16px;
      line-height: 1.5rem;
      margin: 0.5rem;
}


@media screen and (max-width: 375px) {

      body {
            margin: 0;
            padding: 0;
           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 1fr;
      }

      .head {
            display: grid;
            grid-template-columns: 1fr;
            width: auto;
            margin: 0;
      }
     

      .first-text {
            margin: 3rem;
            text-align: center;
            width: auto;
      }

      h1 {
            text-align: center;
            align-items: center;
      }

      .rating-group {
            margin: 1rem;
            margin-bottom: 3rem;
      }

      .ratings{
            position: static;
      }

      .comment-section {
           display: grid;
           grid-template-columns: 1fr;
           gap: 1rem;   
           padding: 0;
         
      }

      .comment-box {
            margin-top: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
            width: 400px;
      }
}

